     {{> header}}
       <div id="notifications">
            <div id="successBox" class="alert alert-success"  role="alert">{Success Message...}</div>
           
            
        </div>
        <script>
             window.onload = notifications.showSuccess('Loggedout successfully!')
        </script>